[submodule "third_party/stylesheet"]
	path = third_party/stylesheet
	url = https://github.com/adobe/stylesheet.git
	branch = modifications
[submodule "third_party/cpp-base64"]
	path = third_party/cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "thirdparty/libexpat"]
	path = thirdparty/libexpat
	url = git@git.corp.adobe.com:thirdparty/libexpat.git
